/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: 'Inter-Variable', sans-serif;
    --font-accent: 'PressStart2P', fantasy;
    --font-weight-header: 715;
    --font-weight-text: 410;
    --font-size-header-title: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --font-size-header-subtitle: clamp(14px, 10.831px + 0.845vw, 23px);
    --control-height: 37px;
    --gradient-background:
      repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    --width-header: clamp(375px, 260.211px + 30.61vw, 700px);
    --padding-block-header: clamp(120px, 116.479px + 0.939vw, 130px);
    --margin-block-end-header: clamp(95px, 101.761px - 0.469vw, 100px);
    --width-article: var(--width-header);
    --color-label-shadow: #fff;
    --color-accent: #000;
    --color-background: #fff;
    --color-icon-contour: var(--color-accent);
    --color-icon-active: #f00;
}
